{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "llince.fullname" . }}
  labels:
    app: {{ printf "%s-%s" (include "llince.fullname" .) .Values.version }}
    {{- include "llince.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ printf "%s-%s" (include "llince.fullname" .) .Values.version }}
{{- end }}