apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "genericservice.fullname" . }}
  labels:
    {{- include "genericservice.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "genericservice.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "genericservice.selectorLabels" . | nindent 8 }}
    spec:
      hostAliases:
        - ip: "192.168.0.38"
          hostnames:
          - "db.oracle.lince.com"
          - "db.sqlserver.lince.com"
          - "db.mysql.lince.com"
          - "db.mariadb.lince.com"
          - "db.postgresql.lince.com"
          - "test.lince.com"
        - ip: "192.168.0.7"
          hostnames:
          - "jenkins.lince.com"
      volumes:
      - name: generateservice-mvn
        persistentVolumeClaim:
          claimName: "hostpath-generateservice-m2" 
      - name: compile-ram
        emptyDir:
          medium: Memory 
          sizeLimit: 2Gi  
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          {{- if .Values.volumes.enabled }}
          volumeMounts:
            - mountPath: "/app/.m2"
              name: generateservice-mvn
            - mountPath: "/app/compile"
              name: compile-ram
          {{- end }}   
          env:
            - name: "DB_URL"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.LoginSecret_Name }}
                  key: {{ .Values.LoginDbUrl_Key }}
            - name: "SFTP_HOST"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.LoginSecret_Name }}
                  key: {{ .Values.LoginSftpHost_Key }}
            - name: "SFTP_KEY"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.LoginSecret_Name }}
                  key: {{ .Values.LoginSecretSftp_Key }}
            - name: "SFTP_REMOTE_PATH"
              value: "{{ .Values.SFTP_REMOTE_PATH }}"
            - name: "SFTP_DELAY"
              value: "{{ .Values.SFTP_DELAY }}"
            - name: "AMQP_USER"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.LoginSecret_Name }}
                  key: {{ .Values.LoginUserRabbitMq_Key }}
            - name: "AMQP_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.LoginSecret_Name }}
                  key: {{ .Values.LoginPassRabbitMq_Key }}
            - name: "ADMIN_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.LoginSecret_Name }}
                  key: {{ .Values.LoginAdminPassLiquibase_Key }}
            - name: "MAVE_FILE"
              value: "{{ .Values.MAVE_FILE }}"
            - name: "PATH_JKS"
              value: "{{ .Values.PATH_JKS }}"
            - name: "SFTP_PER_POLL"
              value: "{{ .Values.SFTP_PER_POLL }}"
            - name: "SFTP_TIME_OUT"
              value: "{{ .Values.SFTP_TIME_OUT }}"
            - name: "AMQP_HOST"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.LoginSecret_Name }}
                  key: {{ .Values.LoginAmqpHost_Key }} 
            - name: "NEXTAUTH_URL"
              value: "{{ .Values.NEXTAUTH_URL }}" 
            - name: "LIQUIBASE_RUN"
              value: "{{ .Values.LIQUIBASE_RUN }}" 
            - name: "API_JAVA_OPTION"
              value: "{{ .Values.API_JAVA_OPTION }}"
            - name: "MAVEN_OPTS"
              value: "{{ .Values.MAVEN_OPTS }}"
            - name: "PAYPAL_CLIENT_ID"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.paipalSecret_Name }}
                  key: {{ .Values.paipalClientId_Key }}
            - name: "PAYPAL_SECRET_ID"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.paipalSecret_Name }}
                  key: {{ .Values.paipalSecret_Key }}
            - name: "PAYPAL_WEBHOOK_ID"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.paipalSecret_Name }}
                  key: {{ .Values.paipalWebHookId_Key }}
            - name: "PAYPAL_BASE_URL"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.paipalSecret_Name }}
                  key: {{ .Values.paipalBaseUrl_Key }}
            - name: "PAYPAL_EMAIL_BUSINESS"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.paipalSecret_Name }}
                  key: {{ .Values.paipalEmailBusiness_Key }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
